@use 'variables' as geral;
@use 'mixins' as mixins;
@use './components/form/form.scss' as form;
@use './components/navbar/navbar.scss' as nav;

body{
    background-color: geral.$mainBGColor;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
