@use 'variables' as geral;
// @use './components/form/form.scss' as form;

body{
    background-color: geral.$mainBGColor;
    margin: 0;
    padding: 0;
}

// @include form.form($pratoBgColor: geral.$pratoBgColor);