.button{
    display: block;
    cursor: pointer;

    margin: auto;
    padding: 0.1rem 0.5rem !important;
    font-size: 2rem !important;
    /* background-color: red !important; */
    color: rgba(255, 255, 255, 0.801);
}

.button:hover{
    color: white;
}